<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>How I Helped</title>
  <STYLE type="text/css">
       BODY { background: url("/images/construction.jpg") fixed center no-repeat }
  </STYLE>

</head>

<body>

</body>

</html>

